

.top__section {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.left__side {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 2rem;
    padding: 1.5rem 1.8rem;
}

.right__side {
    display: flex;
    flex: 1;
    background-color: #f48916;
    z-index: 3;
}

.right__side > button {
    position: absolute;
    top: 2rem;
    right: 2.7rem;
    width:fit-content;
    padding: 0.7rem;
    font-weight: 600;
    border: none;
}